{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <title>Наш ресторан{{ info.description }}</title>
</head>
<body>
    <section class="main">
        <header class="header">
            <div class="container">
                <div class="header__wrap">
                    <div class="header__logo">
                        <img src="{% static 'img/LOGO.svg' %}" alt="Logo">
                    </div>
                    <div class="header__burger">
                        <img src="{% static 'img/burger-orig.svg' %}" alt="burg">
                    </div>
                    <div class="header__block">
                        <nav class="header__nav">
                            <ul class="header__menu">
                                <li class="header__item">
                                    <a href="#" class="header__link">Главная</a>
                                </li>
                                <li class="header__item">
                                    <a href="#" class="header__link">Меню</a>
                                </li>
                                <li class="header__item">
                                    <a href="#" class="header__link">О нас</a>
                                </li>
                                <li class="header__item">
                                    <a href="#" class="header__link">Бронь</a>
                                </li>
                            </ul>
                        </nav>
                        <div class="header__box">
                            <div class="header__cart">
                                <img src="{% static 'img/cart.svg' %}" alt="CART">
                            </div>
                            <div class="header__phone-info">
                                <a href="tel:{{ info.phone_num }}" class="header__phone-link">{{ info.phone_text }}</a>
                                <p class="header__phone-text">Свяжитесь с нами для бронирования</p>
                            </div>
                        </div>
                        <a href="#" class="header__btn btn">Заказ столика</a>
                    </div>
                </div>
            </div>
        </header>
        <div class="container">
            <div class="main__block">
                <h2 class="main__subtitle">Добро пожаловать в</h2>
                <h1 class="main__title">Наш ресторан</h1>
                <p class="main__text">ДОМ ЛУЧШЕЙ ЕДЫ</p>
                <a href="#" class="main__btn btn">МЕНЮ</a>
            </div>
        </div>
    </section>
    <section class="history">
        <div class="container">
            <div class="history__cards">
                <div class="history__card">
                    <img src="{% static 'img/burg.svg' %}" alt="Image" class="history__card-img">
                    <h3 class="history__card-title">
                        Магическая <span>Атмосфера</span>
                    </h3>
                    <p class="history__card-text">
                        В нашем заведении царит магическая атмосфера наполненная вкусными ароматами
                    </p>
                </div>
                <div class="history__card">
                    <img src="{% static 'img/burg.svg' %}" alt="Image" class="history__card-img">
                    <h3 class="history__card-title">
                        Лучшее качество <span>Eды</span>
                    </h3>
                    <p class="history__card-text">
                        Качество нашей Еды  - отменное!
                    </p>
                </div>
                <div class="history__card">
                    <img src="{% static 'img/burg.svg' %}" alt="Image" class="history__card-img">
                    <h3 class="history__card-title">
                        Недорогая <span>Еда</span>
                    </h3>
                    <p class="history__card-text">
                        Стоимость нашей Еды
                        зависит только от ее
                        количества. Качество
                        всегда на высоте!
                    </p>
                </div>
            </div>
            <div class="history__wrap">
                <div class="history__info">
                    <div class="history__info-text">
                        <h2 class="history__title">
                            Наша <span>История</span>
                        </h2>
                        <p class="history__text">
                            Как и у любого другого самобытного места, у нас есть своя, особая история. Идея ресторана пришла основателям неожиданно. Во время прогулки по лесу создатель нашего ресторана застрял в сотнях километров от ближайшего населенного пункта. Вдали от цивилизации и связи им пришлось навремя обустровать себе нехитрый быт, добывать и готовить себе еду.
                        </p>
                    </div>
                    <div class="history__box">
                        <div class="history__box-solo">
                            <p class="history__box-num">
                                94
                            </p>
                            <p class="history__box-text">
                                Напитки
                            </p>
                        </div>
                        <div class="history__box-solo">
                            <p class="history__box-num">
                                206
                            </p>
                            <p class="history__box-text">
                                Еда
                            </p>
                        </div>
                        <div class="history__box-solo">
                            <p class="history__box-num">
                                71
                            </p>
                            <p class="history__box-text">
                                Закуски
                            </p>
                        </div>
                    </div>
                </div>
                <div class="history__img">
                    <img src="{% static 'img/pic_0.png' %}" alt="Image" class="history__img-pic">
                </div>
            </div>
        </div>
    </section>
    <section class="order">
        <div class="container">
            <div class="order__wrap">
                <div class="order__box">
                    <h3 class="order__title">
                        Отпразднуйте в одном из самых лучших ресторанов.
                    </h3>
                    <p class="order__text">
                        Только в этом месяце бизнес-ланч от 250 ₽
                    </p>
                </div>
                <div class="order__box-btn">
                    <a href="#" class="order__btn btn">ЗАКАЗ СТОЛИКА</a>
                </div>
            </div>
        </div>
    </section>
    <section class="chefs">
        <div class="container">
            <div class="chefs__wrap">
                <h3 class="chefs__title">
                    Наши <span>Повара</span>
                </h3>
                <div class="chefs__box">
                    <img src="{% static 'img/chefs_0.png' %}" alt="Image" class="chefs__img">
                    <img src="{% static 'img/chefs_1.png' %}" alt="Image" class="chefs__img">
                    <img src="{% static 'img/chefs_2.png' %}" alt="Image" class="chefs__img">
                </div>
            </div>
        </div>
    </section>
    <section class="menu">
        <div class="container">
            <div class="menu__wrap">
                <h3 class="menu__title">
                    Наше меню
                </h3>
                <div class="menu__cards">
                    <div class="menu__card menu__card-recommended">
                        <div class="menu__card_image">
                            <p class="menu__card_image-price">420</p>
                        </div>

                        <h3 class="menu__card-title">
                            Гамбургер макси
                        </h3>
                        <p class="menu__card-text">
                            Максималько толстый слой мяса
                        </p>
                        <a href="#" class="menu__card-a btn">
                            заказать
                        </a>
                    </div>
                    <div class="menu__card menu__card-basic">
                        <div class="menu__card_image">
                            <p class="menu__card_image-price">420</p>
                        </div>
                        <h3 class="menu__card-title">
                            Гамбургер макси
                        </h3>
                        <p class="menu__card-text">
                            Максималько толстый слой мяса
                        </p>
                        <a href="#" class="menu__card-a btn">
                            заказать
                        </a>
                    </div>
                    <div class="menu__card menu__card-basic">
                        <div class="menu__card_image">
                            <p class="menu__card_image-price">420</p>
                        </div>
                        <h3 class="menu__card-title">
                            Гамбургер макси
                        </h3>
                        <p class="menu__card-text">
                            Максималько толстый слой мяса
                        </p>
                        <a href="#" class="menu__card-a btn">
                            заказать
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="feedback">
        <div class="container">
            <div class="feedback__wrap">
                <p class="feedback__text">
                    Я надолго запомню мой День рождения, проведённый в этом ресторане! Кусочек родной Армении!!! Отдельное спасибо за комплепент в виде фруктовой тарелки. Будем рекомендовать этот ресторан своим друзьям и родственникам также за рубежом, путешествующих в Санкт-Петербург!!!
                </p>
                <div class="feedback__info">
                    <img src="{% static 'img/icon.png' %}" alt="Image" class="feedback__info-icon">
                    <h3 class="feedback__info-title">
                        Посетитель
                    </h3>
                    <p class="feedback__info-text">
                        Николай
                    </p>
                </div>
                <div class="feedback__dots">
                    <p>.</p>
                    <p>.</p>
                    <p class="feedback__dots_choice">.</p>
                </div>
            </div>
        </div>
    </section>
</body>
</html>